* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
main {
  min-height: calc(100dvh - 85px - 22px);

  padding-top: 20px;
  padding-bottom: 20px;
}
.active {
  background-color: black;
}

header {
  min-height: 85px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer {
  min-height: 22px;
  justify-content: center;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}
.wrapper {
  display: block;
}
